@import "../utilities/variables.scss";


main{
    margin-top: 50px;
    margin-bottom: 100px;
    
    section{
        h1{
            color: $color-texto;
            font-family: $fuente;
            text-decoration: none;
            text-align: center;
            font-size: 50px;
            padding-top: 10px;
            padding-bottom: 20px;

        }
        h2{
            color: white;
            font-size: 25px;
            margin-bottom: 30px;
            font-family: $fuente;
            padding: 20px;
            text-align: center;

        }
    }

    section{
        div{

        
        h4{
            padding-bottom: 10px;
            padding-top: 10px;
            margin-left: 20px;
            color: rgb(195, 187, 34);;
            font-family: $fuente;

        }
        .subtitulos{
            p{
                color: rgb(195, 187, 34);
                font-family: $fuente;

            }

        }
        p{
            padding-bottom: 10px;
            padding-top: 10px;

        }

        ol{
            li{
                color: beige;
                font-family: $fuente;
                padding: 5px;
                margin-left: 65px;

            }
        }
    }  
        div{

        
        ul{
            li{
                color: beige;
                font-family: $fuente;
                padding: 5px;
                margin-left: 60px;

            }
        }
    }

    
        
    }
   
.subtitulos{
    display: flex;
    

    .animation{
        margin: auto;
        width: 400px;
        height: 350px;
        position: relative;
        right: -300px;
        bottom: 50px;
        background-image: linear-gradient(to right, #484d1c, #bdd012);
        border-radius: 15px;
        border: 3px solid black;

        p{
            padding-top: 30px;
            text-align: center;
            color: black;
            font-family: $fuente;

            span{
                color: rgb(62, 11, 191);
                font-size: large;
                font-weight: bold;
            }
        }
        
    }
    .animation:hover{
        position: relative;
        right: -200px;
        bottom: 10px;
        transition: 3s;
    }
    
}            
}

a{
    .logows{
        position: fixed;
        right: 35px;
        bottom: 35px;
        width: 55px;
        height: 55px;
        

    }
    .logows:hover{
        transform: rotate(360deg);
        transition: 3s;
    }
}